*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
html{
    font-family: Polymath Text;
    color: #333;
    background: whitesmoke;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
  color: #555;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

h1, h2{
    font-family: Polymath;
    
}

a{
    color: inherit;
    text-decoration: none;
}

ul{
    list-style: none;
    padding: 0;
}

section{
    padding-inline: 3rem;
    padding-block: 6rem;
}

/* NAV */

nav{
    position: sticky;
    top: 0;
    padding: 1.5rem;
    padding-inline: 1.125rem;
    z-index: 100;

    & > div{
        max-width: 768px;
        margin-inline: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;

        background: canvas;
        padding: 1rem;
        padding-right: 1.5rem;
        border-radius: 1000px;
        border: 4px solid whitesmoke;
    }

    .logo{
        display: flex;
        align-items: center;
        gap: .5rem;
        font-size: 1.125rem;
        font-weight: 600;

        .profile-pic{
            height: 2.5rem;
            width: 2.5rem;
            background: whitesmoke;
            border-radius: 1000px;
        }
    }

    ul{
        display: flex;
        align-items: center;
        gap: 1.5rem;
    }

    a{
        font-weight: 500;
        line-height: 1;
    }


}

/* HERO */

.hero{
    & > div{
        display: grid;
        justify-items: center;
        text-align: center;
        gap: 1.5rem;
    }
    
    h1{
        font-size: 3.5rem;
        line-height: 1.125;
        max-width: 22ch;
        letter-spacing: -0.02em;
    }

    p{
        font-size: 1.5rem;
        font-weight: 500;
        max-width: 40ch;
    }

    .btn{
        font-size: 1.25rem;
        line-height: 1;
        background: #333;
        color: white;
        border-radius: 1rem;
        padding: 1rem 2rem;
        font-weight: 600;
    }
    

}

/* PROJECTS */

.projects{
    padding-top: 0;

    & > div{
        max-width: 960px;
        display: grid;
        gap: 6rem;
        justify-items: center;
        margin-inline: auto;
    }
}

.project{
    display: grid;
    gap: 2rem;
    justify-items: center;
    width: 100%;

    .project-thumbnail{
        aspect-ratio: 3 / 2;
        width: 100%;
        height: auto;
        display: block;
        background: white;
        border-radius: 6rem;
        corner-shape: squircle;
    }

    .project-text{
        padding-inline: 1.5rem;
        max-width: 60ch;
        display: grid;
        gap: .5rem;

        h2{
            line-height: 1;
        }

        p{
            font-size: 1.25rem;
            font-weight: 500;
        }
    }

}