* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0 !important;
    box-sizing: border-box;
    touch-action: manipulation;
}

html{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
}

nav{
    padding: 1rem;
    border-bottom: 1px solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2.5rem;

    a{
        color: inherit;
       text-decoration: none; 
       }
       
    ul{
        list-style: none;
        margin: 0;
        padding: 0;
    }
}

button{
    border: unset;
    background: unset;
    cursor: pointer;
}

/* Sick! CSS only toggle state ;) */
nav:has([popover]:popover-open) button{
    background: whitesmoke;
}

nav button:hover{
    
}

[popover] {
    background: #333;
    color: white;
    font-weight: 400;
    padding: 1rem;
    border-radius: 1rem;
    max-width: 40ch;
    margin: 0 auto;
    height: 100svh;
  }

[popover]:popover-open {
    translate: 0 0;
  }
  
  /*   EXIT STATE   */
  [popover] {
    transition: translate 0.3s ease-out, display 0.3s ease-out allow-discrete, overlay 0.3s ease-out allow-discrete;
    translate: -100% 0;
  }
  
  /*   0. BEFORE-OPEN STATE   */
  @starting-style {
    [popover]:popover-open {
      translate: -100% 0;
    }
  }

  #my-popover{
    background: orangered;
    display: grid;
    align-content: start;
    gap: 1rem;
  }

.popover-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
    border-bottom: 1px solid currentColor;
}
  
.brand{
    font-weight: 700;
}

.toggle{
    padding: 0.5rem 1rem;
    border: 1px solid lightgrey;
    border-radius: 0.5rem;
}


section{
    &>div{
        min-height: 80vh;
        width: 100%;
        border-bottom: 1px solid;
        padding: 1.5rem;
    }
}



