@font-face {
    font-family: 'MonaSans';
    src:
        url(fonts/Mona-Sans.woff2) format('woff2 supports variations'),
        url(fonts/Mona-Sans.woff2) format('woff2-variations');
    font-weight: 200 900;
    font-stretch: 75% 125%;
}

:root{
    --main-font: "MonaSans";
    --mono: Azeret Mono;
    --brand-color: #FC372D;
}

*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

html{
    color-scheme: dark;
    font-size: 100%;
    font-family: var(--main-font);
    background: black;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
p {
    font-size: 1.375rem;
    line-height: 1.75;
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: pretty;
}

h1, h2{
    text-transform: uppercase;
    font-weight: 900;
    font-stretch: 125%;
    font-size: 4rem;
    line-height: 1;
}

a{
    color: inherit;
    text-decoration: none;
}

ul{
    list-style: none;
    padding: 0;
}

/* STYLES */
button{
    border: unset;
    background: unset;
    cursor: pointer;
    
}

.btn{
    width: max-content;
    padding: 1.5rem 2rem;
    background: var(--brand-color);
    transition: all .125s ease-in-out;
    text-transform: uppercase;
    font-weight: 800;
    font-stretch: expanded;
    text-box-trim: trim-both;
    text-box-edge: cap alphabetic;
    color: black;
}

.btn:hover{
    background: white;
}

.btn:focus{
    outline: 6px solid hsl(from var(--brand-color) h s l / .5);
}

input{
    padding: 1rem;
    line-height: 1;
    background: transparent;
    border: 1px solid;
    width: 100%;
}

input, ::placeholder{
    font: inherit;
}

input:focus{    
    outline: none;
    outline: 6px solid hsl(from #fff h s l / .25);
}


label{
    font-size: 1rem;
    display: grid;
    gap: .5rem;
}

label span{
    text-transform: uppercase;
    font-weight: 700;
    font-stretch: expanded;
}

/* NAV */
nav{
    padding: 1.5rem;


    & > div{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #logo{
        font-family: Eurostile;
        text-transform: uppercase;
        font-stretch: expanded;
        font-weight: 900;
        font-size: 1.5rem;
        line-height: 1;
        text-box-trim: trim-both;
    text-box-edge: cap alphabetic;

    height: 2rem;
    width: auto;

    }

    #logo svg{
        height: 100%;
        width: auto;
    }

    #menuToggle{
        text-transform: uppercase;
        font-stretch: expanded;
        font-weight: 700;
        padding: unset;

    }

    ul li{
        text-transform: uppercase;
        font-stretch: expanded;
        font-weight: 700;
        
    }

    & #menu{
        background: var(--brand-color);
        border: none;
        width: 100vw;
        height: 100svh;
    }


}

@media (min-width: 960px) {
    

    #menuToggle{
        display: none;
    }

    nav #menu{
        display: block;
        position: static !important;
        height: auto;
        width: auto;
        background: transparent;
        padding: unset;
       
        & ul{
            display: flex;
            gap: 2rem;
        }
    
    }

    nav #menu[popover]:open{
        inset: auto;
        font-style: italic;
    }

}



/* FOOTER */
footer{
    padding: 2rem;
    text-transform: uppercase;
    font-weight: 600;
    font-stretch: expanded;
}

/* CONTENT */

section{
    padding: 5rem 1.5rem;
    & > div{
        margin-inline: auto;
        width: 100%;
    }
}

/* CTA */
.cta{
    & > div{
        display: grid;
        justify-items: center;
        gap: 3rem;
        max-width: 800px;
        margin-inline: auto;
    }


    .textblock{
        max-width: 70ch;
        text-align: center;
        display: grid;
        justify-items: center;
        gap: 1.5rem;
    }

    form{
       
        display: grid;
        width: 100%;
        gap: 1.5rem;

        button{
            width: 100%;
        }

        label{
            
        }
        
        small{
            margin-top: 1rem;
            font-family: var(--mono);
            text-transform: uppercase;
            text-align: center;
            opacity: .75;
        }
    }
}

/* REVIEWS */
.socialproof{

  
    & > div{

    }

    .slider{
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 300px;
        gap: 1.5rem;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scrollbar-width: none;
    }

    .stars{
        display: none;
    }

    .review{
        padding: 1.5rem;
        background: white;
        color: black;
        display: grid;
        gap: 1rem;
        align-content: space-between;
        scroll-snap-align: start;
        scroll-snap-stop: always;
      

        .quote{
            line-height: 1.5;
            font-size: 1.125rem;
        }

        .name{
            text-transform: uppercase;
            font-stretch: expanded;
            font-weight: 800;
            font-size: .875rem;
        }
    }

}