*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    scroll-behavior: smooth;
}

body {
  line-height: 1.5;

}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
  font-stretch: condensed;
}

a{
    color: inherit;
    text-decoration: none;
}

/*  */
nav{
    position: sticky;
    top: 0;
    width: 100%;
    left: 0;
    background: white;
    z-index: 1000;
    padding: 1.5rem;
    display: none;

    #logo{
        font-weight: 600;
    }

    .progress{
        height: .5rem;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background: lightgray;
    }

    & .progress::after{
        content: '';
        width: 100%;
        height: 100%;
        background: orangered;
        position: absolute;
        transform: scaleX(0);
        transform-origin: left;
        animation: progress linear;
        animation-timeline: scroll(root block);
    }
}

@keyframes progress{
    to{
        transform: scaleX(100%);
    }
}

section{
    padding-inline: 1.5rem;
    overflow-x: clip;
}

.hero{
    background: steelblue;
    display: grid;
    place-content: center;
    text-align: center;
    padding-block: 8rem;
    height: max-content;
    height: 100svh;
    position: relative;
    
    h1{
        font-size: 3rem;
        line-height: 1.125;
        letter-spacing: -0.01em;
        font-stretch: condensed;
    }
}

.filler{
    height: max-content;
    height: 100svh;
    padding-block: 5rem;
    background: violet;

}

section.filler{
    background: gold;
}

.filler h2{
    font-size: 2rem;
    animation: fadeIn linear .5s forwards;
    animation-timeline: view();
    animation-range: cover 0% cover 5rem;

    
   
}

@keyframes fadeIn {
    from{
    opacity: 0;
    transform: translateX(-100%);
    }

    to{
        opacity: 1;
        transform: translateX(0);
    }
}

#top{
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    height: 3rem;
    width: 3rem;
    background: orangered;
    border-radius: 10rem;

    
    display: grid;
    place-content: center;
    text-align: center;
    font-weight: 500;

    opacity: 0;
        transform: translateX(100%);

    animation: slide linear .5s forwards;
    animation-timeline: scroll(root block);
    animation-range: 100px 200px;
}

@keyframes slide {
    from{
        opacity: 0;
        transform: translateX(100%);
    }

    to{
        opacity: 1;
        transform: translateX(0);
    }
    
}