*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

html{
    font-family: Inter variable, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  line-height: 1.5;
  
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
  font-size: 1.25rem;
  line-height: 1.5;
}
h1, h2, h3, h4, h5, h6 {
 
}

*{
    corner-shape: squircle; 
}

a{
    color: inherit;
    text-decoration: none;
}



.hero{

    padding: 6vw;
    padding-block: 5rem;

    & > div{
        display: grid;
        gap: 1rem;
    }

    h1{
        font-size: 2rem;
        line-height: 1.25;
        font-weight: 600;
        letter-spacing: -0.02em;
    }

    p{
        font-weight: 500;
        font-size: 1.5rem;
        color: #666;
    }

    .pic{
        height: 5rem;
        width: 5rem;
        border-radius: 1000px;
        background: lavender;
        position: relative;
        margin-bottom: 1rem;
    }
}


.projects{

    display: none;
    padding-inline: 3rem;


    & > div{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 1rem;
        row-gap: 5rem;
    }

}

.project{
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    grid-column: span 4;
}

.project .caption{
    max-width: 40ch;
}

.project .img{
    background: lavender;
    width: 100%;
    height: auto;
    aspect-ratio: 3/2;
    border-radius: 1.5rem;
}

.project:nth-of-type(1){
    grid-column: 1 / 8;

    .img{
        background: springgreen;
    }
}


.project:nth-of-type(2){
    grid-column: 9 / -1;
}

.project:nth-of-type(3){
    grid-column: 1 / -1;

    .img{
        background: teal;
    }
}



/* ALT PROJECT SECTION */

.projs{
    display: flex;
    flex-direction: column;
    gap: 10rem;
}

.alt-project{
  
    & > div{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
}

.project-images{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: auto;
    gap: 1.5rem;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    height: 480px;
    scroll-padding-left: 6vw;
    padding-right: 6vw;
    position: relative;

    &::before{
        content: '';
        display: block;
        place-content: center;
        height: 100%;
        width: auto;
        width: 400px;
       
    }



    & > div{
        aspect-ratio: 1;
        height: 100%;
        width: auto;
        background: lavender;
        border-radius: 1.5rem;
        scroll-snap-align: start;
        position: relative;
        isolation: isolate;
        overflow: clip;
    }

    & > div:nth-child(1){
        background: springgreen;
        aspect-ratio: 3/2;
    }

    & > div:nth-child(3){
        background: teal;
        aspect-ratio: 5/6;
    }

    & > div:nth-child(5){
        background: orangered;
        aspect-ratio: 16/9;
    }

    & > div:nth-child(6){
        background: blueviolet;
        aspect-ratio: 5/6;
    }

    
    & > div:has(.project-link){
        background: whitesmoke;
        border: 2px solid lightgray;
    }
       

        a{
            inset: 0;
            position: absolute;
            color: #555;
        

            display: grid;
            place-content: center;
            font-size: 1.125rem;
            font-family: GT Flexa Mono Trial;
            text-transform: uppercase;
            word-spacing: -0.2em;
        }

        .icon{
            font-family: Inter Variable;
            font-weight: 600;
        }
    
}

.project-info{
    padding-inline: 6vw;
    display: flex;
    
    gap: 2rem;

    .title{
        width: 100%;
    }



    h2{
        font-size: 2rem;
        letter-spacing: -0.02em;
        font-weight: 600;
        grid-column: 1 /2;
        line-height: 1.125;
        max-width: 26ch;

        display: grid;

        & > span{
            opacity: .5;
        }
    }

    & > *:not(h2){
        grid-column: 2 / -1;
    }

    p{
        font-size: 1.5rem;
        max-width: 50ch;
    }
}



.tags{
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    gap: .5rem;

    li{
        line-height: 1;
        background: lightgray;
        border-radius: 1rem;
        padding: .75rem 1rem;
        font-weight: 500;
    }
}

footer{
    padding:  6vw;
    margin-top: 5rem;
    font-weight: 500;
    color: #666;
}


@media screen and (max-width: 768px){
    html{
       
    }

    .hero{
        padding: 1rem;
        padding-block: 3rem;

        h1{
            font-size: 2rem;
        }
    }

    .projs{
        gap: 4rem;
    }

    .alt-project > div{
        gap: 1rem;
    }

    .project-images{
        height: 220px;
        gap: 1rem;
        scroll-padding: 1rem;
        padding-right: 1rem;
    }

    .project-images > div a{
        font-size: .875rem;
    }

    .project-info{
        padding-inline: 1rem;
        flex-direction: column;
    }

    .project-info {

        h2{
            font-size: 1.5rem;
        }
        
    & .text, .title{
        width: 100%
        };
    }

    footer{
        padding: 2rem 1rem;
    }
}