:root{
    --spring: linear(0, 0.03 1.1%, 0.125 2.4%, 0.906 9.8%, 1.046 12.3%, 1.11 15%, 1.116 16.3%, 1.11 17.8%, 1.014 25.8%, 0.987 31.2%, 1.001 47.2%, 1);
    --glide: linear(0, 0.012 0.9%, 0.05 2%, 0.411 9.2%, 0.517 11.8%, 0.611 14.6%, 0.694 17.7%, 0.765 21.1%, 0.824 24.8%, 0.872 28.9%, 0.91 33.4%, 0.939 38.4%, 0.977 50.9%, 0.994 68.4%, 1);
}

*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

html{
    font-family: Inter variable, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

a{
    color: inherit;
    text-decoration: none;
}

ul{
    list-style: none;
    padding: 0;
}

body{
    display: grid;
    gap: 1.5rem;
    padding: 1.5rem;
}

section{
    aspect-ratio: 3 / 2;
    height: auto;
    width: 100%;
    background-color: lavender;
    border-radius: 1.5rem;
}

body:has(:popover-open) button{
  opacity: 0;
}

button{
    anchor-name: --button;
    border: unset;
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
    height: 3rem;
    width: 3rem;
    display: grid;
    place-content: center;
    background: white;
    border-radius: 1200px;
    cursor: pointer;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.125);

    border-radius: 1000px;
    
    
    background: rgb(255, 255, 255, 0.75);
    backdrop-filter: blur(8px);
    border: 2px solid white;

    svg{
        height: 2rem;
        width: auto;
    }
}

button:active{
    transform: scale(98%);
}

[popover] {
  position: absolute;
  inset: auto;
  margin: 0;
  transition:
    opacity 300ms var(--glide),
    border-radius 300ms var(--glide),
    transform 300ms var(--glide),
    display 300ms;
  transition-behavior: allow-discrete;
}

#menu{
 
    position: fixed;
    position-anchor: --button;
    bottom: anchor(bottom);
    right: anchor(right);

    border-radius: 3rem;
    corner-shape: squircle;
    padding: .75rem .5rem;
    background: rgb(255, 255, 255, 0.75);
    backdrop-filter: blur(8px);
    border: 2px solid white;

    transform-origin: bottom right;

    /* ANIMATION STUFFS */                 
    opacity: 0;
    transform: scale(0%);
    /* border-radius: 1000px; */
    

    ul{
        display: grid;
        gap: .25rem;
    }

    a{
        display: flex;
        align-items: center;
        gap: .75rem;
        padding: 0.5rem .75rem;
        
        border-radius: .75rem;
        corner-shape: squircle;
        font-weight: 500;
        transition: backgroundcolor .2s var(--glide);
    }

    & a:hover{
        background: rgb(0, 0, 0, 0.125);
       
    }

    & a:active{
       
        transform: scale(98%);
    }
}

/* #menu:hover{
    outline: 4px solid steelblue;
} */

/* OPEN STATE */
#menu:popover-open{
    display: block;
    opacity: 1;
    transform: scale(100%);
    /* border-radius: 3rem; */

    @starting-style {
    display: block;
    opacity: 0;
    transform: scale(0%);
    /* border-radius: 1000px; */

}
}

/* BACKGROUND STUFFS */

section:first-of-type{
    background: gold;
}

section:nth-of-type(2){
    background: violet;
}