*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

html{
    font-family: Inter variable, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #333;
}

body {
  line-height: 1.5;
  
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
  font-size: 1.25rem;
  line-height: 1.5;
  opacity: .75;
}
h1, h2, h3, h4, h5, h6 {
 font-weight: 500;
}

a{
    color: inherit;
    text-decoration: none;
}

h1{
    font-weight: 500;
    font-size: 3rem;
    line-height: 1.25;
    letter-spacing: -0.01em;
}

main{
    display: flex;
    flex-direction: column;
    gap: 8rem;
    padding: 5rem;
}

section{
  

    & > div{
        margin-inline: auto;
        max-width: 1200px;
    }
}

.hero{
    
    & > div{
        display: grid;
        gap: 1rem;
    }

    p{
        font-size: 1.5rem;
    }
}

/* PROJECT */

.project{
    

    & > div{
        
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        
        gap: 1.25rem;
    }
}
.card{
    padding: 2.5rem;
    border-radius: 1.25rem;
    border: 2px solid lightgray;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 1rem;
    position: relative;
    isolation: isolate;
    overflow: clip;
    min-height: 400px;

    h2{
        font-size: 2rem;
        line-height: 1.25;
    }
}

.title-card{
    grid-column: 1/3;
}

.tag{
    line-height: 1;
    padding: .5rem 1rem;
    background: lightgray;
    border-radius: .5rem;
    font-weight: 500;
    width: max-content;
}

.project-link{
    font-weight: 500;
    margin-top: auto;
}

.project-prototype{

    .ui{
        width: 100%;
        height: auto;
        aspect-ratio: 3/2;
        border: 2px solid lightgray;
        border-radius: .5rem;
    }
}

.typeface{
    grid-column: 2/-1;
    display: grid;
    place-content: center;
    font-style: italic;
    font-weight: 900;
    font-size: 20rem;
    background: whitesmoke;

    & > span{
        letter-spacing: -0.03em;
        color: #999;
        user-select: none;
        line-height: 1;
    }
}

.logo{
    background: whitesmoke;
    display: grid;
    place-content: center;
    

    & > span{
        text-transform: uppercase;
        font-weight: 900;
        font-size: 5rem;
        display: none;
    }
}

