*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h2{
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2rem;
    letter-spacing: -0.02em;
}

input[type="email"], button{
    padding: 1rem 1.25rem;
    border: 2px solid;
    border-radius: 0.25rem;
    font-size: 1.125rem;
}

input[type="email"]{
    border-color: gray;
}

button{
    --color: #333;
    background: #333;
    color: white;
    border-color: var(--color);
    flex-shrink: 0;
}

section{
    padding: 7rem 1.5rem;
}

section.flex{
    background: whitesmoke;
}


section.flex > div{
    max-width: min(768px, 100%);
    margin-inline: auto;
}


.flexbox{
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;

    input{
        flex-grow: 1;
    }
}

section.grid-test{

    .grid{
        display: grid;
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }
}

.grid-item{
    width: 100%;
    height: auto;
    aspect-ratio: 1;
    background: lightgray;
    border-radius: 0.5rem;
    transition: all 0.7s ease-out;
    transition-delay: calc(var(--order) * 100ms) ;
    

    @starting-style{
        opacity: 0;
        translate: 0 3rem;
        
    }
}

@media (min-width: 768px) {
    h2{
        font-size: 3rem;
    }

    .grid{
        grid-template-columns: 1fr 1fr 1fr !important;
    }
}