*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    interpolate-size: allow-keywords;
  }

html{
    font-family: Inter variable, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color-scheme: dark;
}

body{
    min-height: 100dvh;
  
      background-image: radial-gradient(
        in oklch circle at top left,
        hsl(303, 100%, 26%, 0.08),
        transparent
      );
      background-repeat: no-repeat;
}

section{
    padding-inline: 1.5rem;
    padding-block: 4rem;
}


h2{
    font-size: 3rem;
    margin-bottom: 1lh;
    line-height: 1;
    text-align: center;
}
.faqs{
    display: grid;
    gap: 0.75rem;
}

details{
    --padding: 1.5rem;
    --animation-duration: 0.3s;
    --easing: linear(0, 0.115 2.2%, 0.877 9.4%, 1.016 11.9%, 1.081 14.7%, 1.088 16%, 1.084 17.5%, 1.013 25.3%, 0.993 30.8%, 1.001 46.8%, 1);
    background: hsl(0 0% 5%);
    border: 1px solid hsl(0 0% 12%);
    overflow: hidden;
    border-radius: 1rem;
}

summary{
    padding: var(--padding);
    cursor: pointer;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 1rem;
    font-size: 1.125rem;
}

summary::after{
    content: "->";
    height: 1.5rem;
    width: 1.5rem;
    position: relative;
    background: canvasText;
    display: grid;
    place-content: center;
    color: canvas;
    border-radius: 100vw;
    line-height: 1;
    font-weight: 700;
    transition: rotate 0.3s ease-out;
}

details[open] summary::after{
    rotate: 90deg;
}

details::marker{
    display: none;
}

details > div {
    padding: var(--padding);
    
}
  
  details::details-content {
    block-size: 0;
    transition: block-size var(--animation-duration), content-visibility var(--animation-duration);
    transition-behavior: allow-discrete;
    line-height: 1.5;
  }
  
  details:open::details-content {
    block-size: auto;
  }

 
  
  
