:root{
    --purple: rgb(87, 103, 216);
    --blue: rgb(27, 28, 82);
    --light: #ffffff1a;
    --display: Hubot;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
    color-scheme: dark;
    font-smoothing: antialiased;
}

body {
  font-family: DM Sans, sans-serif, system-ui;
  line-height: 1.5;
  font-feature-settings: 'ss02', 'ss03', 'ss05';
}

h1{
    font-size: 4rem;
    line-height: 1;
}

h2{
    font-size: 3rem;
    line-height: 1;
    text-wrap: pretty;
}


h1, h2, h3{
    font-family: Hubot, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    font-stretch: expanded;
}

a{
    color: inherit;
    text-decoration: none;
}

p{
    font-size: 1.25rem;
    line-height: 1.5;
}

ul{
    list-style: none;
}

.btn{
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    background: var(--purple);
    display: block;
    width: max-content;
    font-weight: 500;
}

nav, section, footer{
    padding: 1.5rem;
}

nav{
    position: sticky;
    display: none
}

.textblock{
    text-align: center;
    display: grid;
    gap: 1.5rem;
    justify-items: center;

    h2{
        max-width: 15ch;
    }

    p{
        max-width: 50ch;
    }
}


/* SECTIONS */

section{
    padding-block: 12vw !important;
}

section:last-of-type{
    background: orangered;
    background: radial-gradient(circle at 50% 200%, var(--blue), canvas);
    background: linear-gradient(to top, var(--blue), canvas);
}

section.hero{

    background: radial-gradient(circle at 50% -50%, var(--purple), canvas);

    & > div {
        display: grid;
        gap: 6vw;
    }

    p{
        max-width: 40ch;
    }

    .keyvisual{
        aspect-ratio: 3/2;
        background: beige;
        width: 100%;
        border-radius: 5rem;
    }
}

section.center{
    
    
    place-content: center;

    & > div {
        display: grid;
        gap: 6vw;
    }
   

    .visual{
        aspect-ratio: 16/9;
        width: 100%;
        background: beige;
        border-radius: 3rem;
    }
}

section.quad{
   
    & > div{
        display: grid;
        gap: 3rem;
    }

    .grid{
        display: grid;
        grid-template-columns: 1fr;
        gap: 1.25rem;
    }

    .card{
        display: grid;
        align-items: start;
        padding: 3rem;
        background: var(--light);
        border-radius: 3rem;
    }

    h3{
        font-size: 1.5rem;
    }
    
    p{
        font-size: 1.25rem;
    }

    .icon{
        height: 2.5rem;
        width: 2.5rem;
        border: 1px solid;
        border-radius: .5rem;
        margin-bottom: 1.5rem;
    }

    .source{
        opacity: 0.5;
    }
}

/* FOOTER */

footer{
    background: var(--purple);

    .container{

        display: grid;
        grid-template-columns: 1fr;
        gap: 1.5rem;

    }

    .billboard{
        width: 100%;
        height: auto;
        padding-block: 2.5rem;
        margin-top: 3rem;
    }

    ul{
        display: grid;
        gap: 0.75rem;
        align-content: start;
    }

    h4{
        font-weight: 500;
        opacity: 0.5;
    }
}


/* Upwards of 768px */
@media (min-width: 960px) {
    
    nav, section, footer{
    padding: 2.5rem;
}

    h1{
        font-size: 6rem;
    }

    h2{
        font-size: 5rem;
    }

    p{
        font-size: 1.5rem;
    }

    /* SECTIONS */

    section.quad .grid{
        grid-template-columns: 1fr 1fr;
    }

    /* FOOTER */
    footer{
    .container{
        grid-template-columns: repeat(12, 1fr);
    }

    .controls{
        grid-column: span 4;
    }

    ul{
        grid-column: span 2;
    }
}

}