@font-face {
  font-family: 'DM Sans Var';
  src: url('./fonts/DMSans-VF.ttf') format('truetype-variations');
  font-weight: 100 900; /* Range supported by DM Sans */
  font-style: normal;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-family: "DM Sans Var", sans-serif, system-ui;
    font-feature-settings: 'ss02', 'ss03', 'ss05';
    color-scheme: dark;
    padding-bottom: 2.5rem;
}

section{
    padding: 1rem;
    max-width: 768px;
    margin-inline: auto;
}

h1, h2, h3, h4, h5{
    font-weight: 600;
}

p{
    line-height: 1.5;
}

button{
    border: unset;
    background: unset;
    font: inherit;
    font-family: inherit;
    font-feature-settings: inherit;
}

*:not(button){
    border-color: #333 !important;
}

label{
    position: relative;
    display: grid;
    text-align: left;
    
    border: 1px solid;
    border-radius: 0.5rem;
    width: 100%;
    
    & h4{
        font-size: 0.875rem;
        opacity: 0.5;
        position: absolute;
        left: 1rem;
        top: 0.75rem;
    }
}

input{
    padding: 1rem;
    padding-top: 2rem;
    font: inherit;
    border: unset;
    background: unset;
    width: 100%;
}

/* TOP BUTTONS */
.top-controls{
    padding-bottom: 0;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 0.5rem;

    /* & button{
        padding: 0.375rem 0.5rem;
        border: 1px solid;
        border-radius: 0.375rem;

    } */
}

/* DIALOG / MODAL */

::backdrop{
    background: canvas;
    opacity: 0.5;
}

dialog{
    background: canvas;
    width: calc(100% - 2rem);
    
    max-width: 50ch;
    margin-inline: auto;
    padding: 2.5rem;
    border: 1px solid;
    border-radius: 0.5rem;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);    
    
    height: 480px;

    form{
        width: 100%;
        
    }

    form > div{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        gap: 1rem;
       
    }

    & > div{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    & h3{
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }   

    button{
        width: 100%;
    }
}


/* CONFIRMATION */

#confirmation{
    height: 100%;
    width: 100%;

    & > div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
    height: 100%;
    }
}

#confirmationCard{
    border: 1px solid;
    border-radius: 0.5rem;
    padding: 1.5rem;
    text-align: left;
    flex-grow: 1;

    h4{
        font-size: 2rem;
    }
}


/* STATUS CARD */

.status-card{
    border: 1px solid;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.5rem;
    min-height: 480px;
    border-radius: 0.5rem;
}

h2.status-title{
    font-size: 2rem;
    line-height: 1.125;
    margin-top: 1rem;
}

#clockButton{
    padding: 1rem 1.5rem;
    font-family: inherit;
    font-feature-settings: inherit;
    background: white;
    color: canvas;
    font-weight: 600;
    border-radius: 0.5rem;
    width: 100%;
    font-size: 1.125rem;
}

#addShiftButton{
    padding: 0.5rem 1rem;
    border: 1px solid;
    border-radius: 0.375rem;
}

.primary-btn{
    padding: 1rem 1.5rem;
    font-family: inherit;
    font-feature-settings: inherit;
    background: white;
    color: canvas;
    font-weight: 600;
    border-radius: 0.5rem;
    width: 100%;
    font-size: 1.125rem;
}

.secondary-btn{
    padding: 1rem 1.5rem;
    
    border: 1px solid;
    font-weight: 600;
    border-radius: 0.5rem;
    width: 100%;
    font-size: 1.125rem;
}


/* TABLE */

.table-container{
    border: 1px solid;
    border-radius: 0.5rem;
}

table{
    text-align: left;
    border-collapse: collapse;
    width: 100%;
}

th, td{
    padding: 1rem;
     border-bottom: 1px solid;
}

tr:last-of-type td{
    border-bottom: unset;
}

.table-heading{
    background: canvas;
    position: sticky;
    top: 0;
    padding-block: 1rem;
}