
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
        body {
            font-family: "Google Sans", Inter variable, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
            line-height: 1.6;
          
        }
        
        .container {
            max-width: 1080px;
            margin: 0 auto;
            padding: 80px 24px;
            display: flex;
            flex-direction: column;
            gap: 6rem;
        }
        
        .header {
            margin-bottom: 80px;
        }

        a{
            color: inherit;
            text-decoration: none;
        }
        
        h1 {
            font-size: 5rem;
            line-height: 1;
            font-weight: 600;
            margin-bottom: 16px;
            letter-spacing: -0.03em;
            text-align: center;
        }
        
        .meta {
            display: flex;
            align-items: center;
            font-size: 1rem;
            list-style: none;
            padding: 0;
            gap: .5rem;
            font-weight: 500;
            
            text-transform: uppercase;
            
            li{
                line-height: 1;
                padding: .5rem 1rem;
                background: lightgray;
                border-radius: .5rem;
                font-size: .875rem;
                color: #555;
            }
        }

        nav{
            position: sticky;
            top: 0;
            background: white;
            width: 100%;
            z-index: 100;
            padding: 1.5rem;

            a{
                font-weight: 500;
                letter-spacing: -0.02em;
            }
        }
        
        .section {
            margin-bottom: 120px;
            display: contents;
        }
        
        .image-placeholder {
            width: 100%;
            height: 500px;
            background: #f5f5f5;
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: .7;
            font-size: .875rem;
            text-align: center;
            padding: 2.5rem;
            font-weight: 500;
            font-feature-settings: 'ss02';
          
            text-transform: uppercase;
            border-radius: 4px;
            border-radius: 1.5rem;
        }
        
        body .image-placeholder.hero {
            height: 600px;
        }
        
        body .image-placeholder.small {
            height: 400px;
        }

        .image-placeholder:nth-of-type(1){
            background: lavender;
        }

    
        
        .text {
            font-size: 1.75rem;
            line-height: 1.5;
            max-width: 50ch;
            margin-inline: auto;
            color: #2a2a2a;
            text-indent: 2em;
         
          
        }

        .griddy{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            
            gap: 1.5rem;

            div{
                border-radius: 1.5rem;
                background: gold;
            }

            & div:nth-of-type(1){
                grid-column: 1 /2;
                aspect-ratio: 1;
            }

            & div:nth-of-type(2){
                grid-column: 2 / 4;
                background: orangered;
            }

            & div:nth-of-type(3){
             grid-column: 1 / 3;
             background: violet;
            }
        }

        .slider{
            ul{
                list-style: none;
                padding: 0;

             
                width: 100%;
                display: grid;
                grid-auto-flow: column;
                grid-auto-columns: 400px;
                gap: 1.5rem;
                overflow-x: auto;
                scroll-snap-type: x mandatory;
                scrollbar-width: none;
                counter-reset: slides;
            }

            li{
                aspect-ratio: 5/6;
                width: 100%;
                height: auto;
                background: lavender;
                border-radius: 1.25rem;
                scroll-snap-align: start;
                position: relative;
                counter-increment: slides;
                display: grid;
                place-content: center;
            }

            & li::after{
                content: counter(slides);
               
                font-size: 1.125rem;
                font-weight: 500;
                height: 2.5rem;
                width: 2.5rem;
                border-radius: 1000px;
                background: white;
                display: grid;
                place-content: center;
            }

           
        }

        .slider ul{
            scroll-behavior: smooth;

            &::scroll-button(*){
                height: 2.5rem;
                width: 2.5rem;
                border-radius: 1000px;
                border: unset;
                background-color: lavender;
                cursor: pointer;
                font-weight: 600;
                font-family: Inter variable;
                margin-top: 1rem;
            }

            &::scroll-button(left) {
                content: "←";
                grid-area: left;
                margin-right: .5rem;
            }
            
            &::scroll-button(right) {
                content: "→";
                grid-area: right;
            }
        }
        
        
    

@media (max-width: 700px) {
  html {
 
  }

  h1{
    font-size: 3rem;
  }

  .text{
    font-size: 1.25rem;
  }

  .container{
    gap: 3rem;
  }

  .slider ul{
    grid-auto-columns: 100%;
  }

  .slider li{
    background: gold;
  }


  .griddy > *{
    grid-column: span 3 !important;
    grid-template-rows: unset;
  }
}