*, *::before, *::after {
  box-sizing: border-box;
}

:root{
    --max-width: 1136px;
    --max-content-width: 900px;
}

* {
  margin: 0;
}
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

html{
    font-family: Inter variable, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
img{
    border-radius: 1.5rem;
}

input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

a{
    color: inherit;
    text-decoration: none;
    font-weight: 500;
}

ul{
    list-style: none;
    padding: 0;
}

a, p{
        font-size: 1.375rem;
    }


/* NAV */
nav{
    z-index: 100;
    padding: 2rem;
   
    position: fixed;
    top: 0;
    width: 100%;
    font-weight: 500;

    & > div{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: var(--max-content-width);
        margin-inline: auto;
        background: rgba(255, 255, 255, 0.8);
        padding: 1rem;
        border-radius: 1000px;
        backdrop-filter: blur(3rem);
    }

    #email{
        padding: 1rem 2rem;
        line-height: 1;
        background: #333;
        border-radius: 1000px;
        font-size: 1.125rem;
        font-weight: 600;
        color: white;
    }

    #profile{
        display: flex;
        align-items: center;
        gap: .5rem;
        letter-spacing: -0.02em;
    }

    #profile-image{
        height: 2.5rem;
        width: 2.5rem;
        background: violet;
        border-radius: 1200px;
    }
}

/* BANNER */
.banner{
    width: 100%;
    aspect-ratio: 16/6;
    height: auto;

    position: relative;
  

    img{
        border-radius: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        user-select: none;
    }


    &::after{
        content: '';
        position: absolute;
        inset: 0;
        background: linear-gradient(to top, canvas, transparent 75%);
        z-index: 10;
    }

}

/* HERO */
.intro{
    margin-block: 6rem;
    padding-inline: 2rem;

    & > div{
        max-width: var(--max-content-width);
        margin-inline: auto;
    }

      p + p{
        margin-top: 1lh;
    }
}

.title{
    display: grid;
    gap: 1rem;
    margin-bottom: 3rem;

 

    & > h1 {
        font-size: 3.5rem;
        letter-spacing: -0.02em;
        line-height: 1.125;
       
        font-weight: 700;
    }

    & > p{
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.25;
        opacity: .5;
    }
}

/* CONTENT */

.content{
    padding-bottom: 10rem;
    padding-inline: 2rem;

    & > div{
        max-width: var(--max-width);
        margin-inline: auto;
    }

    & > div > *:not(img, figure, ul, div){
        
        max-width: var(--max-content-width);
        margin-inline: auto;
    }

    h2, h3{
        font-size: 2rem;
        line-height: 1.25;
    }

    p + p{
        margin-block: 1lh;
    }

    h3 + p{
        margin-top: 1.25rem;
    }

    figure + figure, img + img, figure + img{
        /* border: 20px solid red; */
        margin-top: 1.5rem;
    }

    figure + h3, img + h3{
        margin-top: 6rem;
    }

    figcaption{
        text-align: center;
        padding-block: 1rem;
        font-weight: 500;
        opacity: 0.5;
    }

    figure + p, img + p{

        margin-top: 6rem;
    }

    p + figure {
        margin-top: 6rem;
    }
}

/* FOOTER */

footer{
 
    padding-inline: 2rem;

    .copyright{
        font-weight: 500;
    }
   

    & > div{
        display: flex;
        justify-content: space-between;
        gap: 1.5rem;
        align-items: center;
        max-width: var(--max-width);
        margin-inline: auto;
        border-top: 2px solid;
        padding-block: 2rem;
        border-color: #333;
        padding-bottom: 3rem;
    }

    ul{
        display: flex;
        align-items: center;
        gap: 1.5rem;
    }

}
