*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

html{
    /* color-scheme: dark; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #333;

}

body {
  line-height: 1.5;
  /* -webkit-font-smoothing: antialiased; */
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: pretty;
}

p {
  text-wrap: pretty;
  font-size: 1.5rem;
}

a{
    color: inherit;
    text-decoration: none;
}

.btn{
    padding: 1rem 2rem;
    background: gold;
    border-radius: 1rem;
 
    font-weight: 600;
    font-size: 1.25rem;
    width: max-content;
}

.link{
    display: none;
    
    font-weight: 600;
    font-size: 1.375rem;
    width: max-content;
    text-decoration: underline;
    text-underline-offset: 4px;
}

nav{}

main{}

footer{}

section{
    padding: 3rem;
}

.hero{
    /* background: linear-gradient(to top, transparent, darkslategray 80%); */
    
    padding-block: 8rem;
    min-height: 100vh;
    display: grid;
    place-content: center;
   

    h1{
        font-size: 4rem;
        line-height: 1;
        max-width: 20ch;
        font-weight: 500;
        letter-spacing: -0.02em;
    }

    p{
        max-width: 40ch;
        font-weight: 500;
    }

    .text{
        display: grid;
        gap: 2rem;
        text-align: center;
        justify-items: center;
        margin-bottom: 5rem;
    }
}

.projects{
    
}

.project{
    min-height: 100vh;
    /* border: 4px dashed #444; */
}

.project-slide{
    padding-block: 6rem;
    display: grid;
    gap: 2rem;
    align-content: center;
    justify-items: center;

    position: sticky;
    top: 50%;
    transform: translateY(-50%);
    

    h2{
        font-size: 2.5rem;
        max-width: 28ch;
        text-align: center;
        line-height: 1.25;
        font-weight: 500;
        letter-spacing: -0.02em;

        span{
           
            
            color: orangered;
        }
    }

   
}

@media (max-width: 768px) {
  .hero h1{
    font-size: 3rem;
    line-height: 1.25;
  }
.project-slide h2{
  font-size: 2rem;
}
  
}

