*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  scroll-padding-top: 1.5rem;
}
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

html{
    font-family: DM Sans, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-feature-settings: 'ss02', 'ss03', 'ss05';
    color-scheme: dark;
    scroll-behavior: smooth;
}

body{
    padding-inline: 1.5rem;
    display: grid;
    grid-template-columns: 35ch 1fr;
    gap: 1.5rem;
    padding-bottom: 1.5rem;
}

ul{
    list-style: none;
    display: flex;
    padding: 0;
}

a{
    color: inherit;
    text-decoration: none;
}

h1{
    line-height: 1;
}

/* NAV */

nav{

    width: 100%;
    padding: 1.5rem;
    height: max-content;
    position: fixed;
    background: #222;
    border-radius: .25rem;
    display: none;
}


/* TEXT */
.text{
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-content: start;
    position: sticky;
    top: 0;
    padding-top: 1.5rem;
}

.heading{
   

    p, ul{
        opacity: .5;
    }

    p{
        font-size: 1.25rem;
       
    }
}

.tags{
    display: flex;
    gap: .5rem;
    text-transform: uppercase;
    font-family: Space Mono;
    font-size: .875rem;
}

.points{
    display: flex;
    flex-direction: column;
    
    a{
        
        padding-block: .5rem;
   
    }

    h2{
        font-size: 1.125rem;
        letter-spacing: -0.02em;
        opacity: 0.5;
    }
    p{
        opacity: .5;
        
    }

    scroll-target-group: auto;

    a:target-current{
        

        h2{
            opacity: 1;
        }

        p{
            
        }
    }
}

.points a p {
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease;
  transition-behavior: allow-discrete;
  /* Optional starting style before transition starts */
  @starting-style {
    height: 0;
  }
}

.points a:target-current p {
  height: auto; /* or height: calc-size(auto); if supported */
}

/* CONTENT */

.content{
    grid-column: 2 / -1;
    grid-row: 1 / 3;
    padding-top: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
   

    & > div {
        display: grid;
        gap: 1.5rem;
       

        & > div{
            aspect-ratio: 3 / 2;
            background: #222;
            border-radius: 1.5rem;
            display: block;
            width: 100%;
            height: auto;
        }

    }
}


/* Sections */

#challenge > div{
    background: gold;
}

#strategy > div{
    background: teal;
}

#identity > div{
    background: blueviolet;
}

#application > div{
    background: olivedrab;
}

#outcome > div{
    background: violet;
}